*::selection {
  background: $pink;
}

html,
body {
  height: 100%;
  background-color: $white;
}

body {
  width: 100%;
  min-height: 100%;
  margin: 0;
}

.wrapper {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: $blue;
}

img {
  display: block;
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.red {
  color: $red;
}

h1 {
  color: $red;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8rem;
  font-weight: 900;
}

h2 {
  font-family: "Bodoni MT", serif;
  font-size: 4rem;
}

p {
  font-family: "Open Sans";
  line-height: 1.5;
}
